*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    background-color: black;
    color: white;
}


/*grid system (1296px + 30px 左右留白)*/

.container {
    margin: 0 auto;
    max-width: 1326px;
    padding: 0 15px
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}

.col-4 {
    width: 33.3333%;
    flex: 0 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}

.col-6 {
    width: 50%;
    flex: 0 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}

.col-8 {
    width: 66.6666667%;
    flex: 0 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}

.col-12 {
    width: 100%;
    flex: 0 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}

a {
    color: #fff;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

 ::placeholder {
    color: #919191;
    font-size: 16px;
    line-height: 1.5;
}

.line-height-120 {
    line-height: 1.2;
}

.ms-16 {
    margin-left: 16px;
}

.ms-25 {
    margin-left: 25px;
}

.ms-32 {
    margin-left: 32px;
}

.ms-100 {
    margin-left: 100px;
}

.me-14 {
    margin-right: 14px;
}

.me-20 {
    margin-right: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-22 {
    margin-bottom: 22px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-120 {
    margin-bottom: 120px;
}

.mb-160 {
    margin-bottom: 160px;
}

.mb-238 {
    margin-bottom: 238px;
}

.ml-12 {
    margin-left: 12px;
}

.ml-20 {
    margin-left: 20px;
}

.py-160 {
    padding-top: 160px;
    padding-bottom: 160px;
}

.pb-12 {
    padding-bottom: 12px;
}

.text-center {
    text-align: center;
}

.text-white {
    color: white;
}

.bg-white {
    color: #020202;
    background-color: white;
}

.display-1 {
    font-size: 160px;
}

.display-2 {
    font-size: 120px;
}

.display-3 {
    font-size: 80px;
}

.h1 {
    font-size: 48px;
}

.h2 {
    font-size: 40px;
}

.h3 {
    font-size: 32px;
}

.h4 {
    font-size: 28px;
}

.h5 {
    font-size: 24px;
}

.h6 {
    font-size: 20px;
}

.text-sm {
    font-size: 14px;
}

.text-xs {
    font-size: 12px;
}

.justify-content-end {
    justify-content: flex-end !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.material-icons {
    vertical-align: bottom;
}

.logo {
    max-width: 245px
}

.fw-900 {
    font-weight: 900;
}

.fw-700 {
    font-weight: 700;
}

.fw-400 {
    font-weight: 400;
}

.h-100 {
    height: 100% !important;
}

.flex-grow {
    flex-grow: 1 !important;
}

.flex-column {
    flex-direction: column !important;
}

.align-items-center {
    align-items: center !important;
}

.btn {
    cursor: pointer;
    display: flex;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    align-items: center;
}

.btn:hover {
    color: #fff;
    background-color: #5c636a;
    border-color: #565e64;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #ffffff;
    position: relative;
}

.navbar-menu {
    display: flex;
}

.navbar-btn {
    background-color: transparent;
    border: 0;
    color: #ffffff;
    display: none;
    /* 在電腦版時不顯示 */
}

.navbar-btn:hover {
    transform: scale(1.1);
}

.navbar-collapse {
    display: none;
    /* 在電腦版時不顯示 */
    position: absolute;
    top: 100%;
    width: 100%;
    min-height: calc(100vh - 81px);
    /* 佔滿整個瀏覽器高度扣掉 navbar 高度 */
    background-color: #000000;
    border-top: 1px solid #ffffff;
}

.navbar-collapse a {
    line-height: 1.2;
    margin: 4px 0;
}

.btn-start {
    border: 1px solid #FFFFFF;
    border-radius: 16px;
    padding: 20px 40px;
}

.grass-animation {
    overflow: hidden;
}

.grass-animation img:nth-child(1) {
    animation: slide-up 3s cubic-bezier(0.42, 0.3, 0, 1.02) infinite backwards;
}

.grass-animation img:nth-child(2) {
    animation: slide-up 3s cubic-bezier(0.42, 0.3, 0, 1.02) infinite backwards -0.1s;
}

.grass-animation img:nth-child(3) {
    animation: slide-up 3s cubic-bezier(0.42, 0.3, 0, 1.02) infinite backwards -0.2s;
}

.service-item {
    padding: 80px 40px;
    border: 1px solid #525252;
    border-radius: 16px;
    margin-bottom: 20px;
    grid-gap: 1.5em;
}

.service-item,
.price-item:hover {
    border: 1px solid white;
}


/* 定價 */

.price-item {
    border: 1px solid #525252;
    border-radius: 16px;
    grid-gap: 1.5em;
    flex-direction: column!important;
}

.price-info {
    padding: 20px 0 0 32px;
}

.price-list {
    list-style: inside;
}

.price-list li {
    color: #F2F2F2;
}

.price-footer {
    justify-content: space-between;
    border-top: 1px solid #525252;
    display: flex;
    align-items: center;
    padding: 20px 24px 20px 32px;
}

.price-footer p>span {
    color: #919191;
}


/* 使用規範 */

.rule-item {
    margin-bottom: 40px;
    border-bottom: 1px solid #525252;
}

.rule-item p {
    padding: 24px 0;
}


/* 來自合作夥伴 */

.enterprise {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    position: relative;
}


/* 隱藏 x 軸 */


/* Hide scrollbar for Chrome, Safari and Opera */

.enterprise::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.enterprise {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.swiper {
    height: 40px;
}

.swiper-wrapper {
    transition-timing-function: linear !important;
    padding: 0px 20px;
}

.swiper-slide {
    width: 15%;
}

.left-hidden {
    left: 0px;
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.right-hidden {
    right: 0px;
    background: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.left-hidden,
.right-hidden {
    position: absolute;
    top: 0px;
    width: 10%;
    height: 100%;
    z-index: 20;
}

.recommand-item {
    border: 1px solid rgba(0, 0, 0, .125);
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    padding: 40px 40px;
    gap: 20px;
    box-shadow: 0px 100px 80px rgba(18, 18, 18, 0.07), 0px 41.7776px 33.4221px rgba(18, 18, 18, 0.0503198), 0px 22.3363px 17.869px rgba(18, 18, 18, 0.0417275), 0px 12.5216px 10.0172px rgba(18, 18, 18, 0.035), 0px 6.6501px 5.32008px rgba(18, 18, 18, 0.0282725), 0px 2.76726px 2.21381px rgba(18, 18, 18, 0.0196802);
}

.recommand-item span {
    font-size: 14px;
}

.recommand-content {
    color: #F2F2F2;
}

.recommand-info {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recommand-footer {
    display: flex;
}

.recommand-footer img {
    width: 48px;
    height: 48px;
}

.application {
    border-radius: 160px;
}

.application-search {
    background: #F2F2F2;
    border-radius: 16px;
    padding: 20px 40px;
}

.application-search span {
    color: #919191;
    margin-right: 15px;
}

.application-search input {
    width: 100%;
    background-color: #f2f2f2;
    border: none;
}

.application-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.application-navbar button {
    padding: 20px 40px;
    border: 1px solid #F2F2F2;
    border-radius: 16px;
    background: #FFFFFF;
    color: #020202;
}

.application-list li a {
    color: #919191;
    padding: 8px 16px;
}

.application-list li .active,
.application-list li .btn:hover {
    background-color: #F2F2F2;
    color: #020202;
    border-radius: 16px;
    font-weight: 900;
}

.application-item {
    overflow: hidden;
    border: 1px solid #F2F2F2;
    border-radius: 16px;
    margin-bottom: 24px;
}

.application-img {
    overflow: hidden;
    cursor: pointer;
}

.application-img img {
    transition: 1s;
    width: 100%;
}

.application-img img:hover {
    transform: scale(1.2, 1.2);
    transition: transform 0.3s;
}

.application-content {
    padding: 20px 32px;
}

.application-content>p {
    color: #525252;
}

.application-ai,
.application-tag {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #F2F2F2;
    align-items: center;
    padding: 20px 32px;
}

.application-pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.application-pagination li>a {
    font-weight: 700;
    font-size: 14px;
    color: black;
    width: 48px;
    height: 48px;
    justify-content: center;
}

.application-pagination li>.active {
    background-color: black;
    color: #FFFFFF;
    border-radius: 16px;
}

.start-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
    text-align: center;
}

.border-top {
    border-top: 1px solid #FFFFFF;
}


/* 常見問題區塊 */

.qa-item {
    padding: 20px 40px;
    border: 1px solid #525252;
    border-radius: 16px;
    display: flex;
    margin-bottom: 16px;
    cursor: pointer;
    line-height: 1.2;
    transition: box-shadow 0.15s ease-in-out;
}

.qa-item.active {
    border: 2px solid #FFFFFF;
}

.qa-item:hover {
    border-color: #ffffff;
}

.collapse-content p {
    line-height: 1.2;
    display: none;
    margin-top: 20px;
    transition: all 0.7s linear;
}

.collapse-content p.show {
    display: block;
}

.question-title {
    line-height: 1.2;
    transition: all 0.3s;
}

.question .expanded {
    margin-bottom: 20px;
}

.bottom-navbar {
    padding: 80px 0px;
}

.bottom-logo {
    order: 2;
    float: right;
}

.bottom-link {
    order: 1;
}


/* footer */

.footer {
    padding: 20px 0px;
    flex-wrap: wrap;
    align-items: center;
    overflow-x: auto;
}

.footer-left {
    order: 1;
    padding-right: 100px;
    overflow-x: auto;
}

.footer-right {
    order: 3;
    padding: 12px 0px;
}

.footer-media {
    order: 2;
    margin-left: 100px;
}

.media-link {
    justify-content: space-between;
}

.scrollToTop {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(-100%);
        opacity: 0;
    }
    75% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 100%;
    }
    .application-filter {
        order: 1;
    }
    .application-list {
        order: 3;
    }
    .application-order {
        order: 2;
    }
    .bottom-logo {
        order: 1;
        position: absolute;
        left: 0;
    }
    .bottom-link {
        order: 2;
        margin-top: 40px;
    }
    .col-2 {
        width: 50%;
        margin-bottom: 10px;
    }
    .col-4,
    .col-6,
    .col-8 {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
    .col-4,
    .col-6,
    .col-8 {
        width: 100%;
        margin-bottom: 10px;
    }
    .navbar-btn {
        display: block;
    }
    .navbar-menu {
        display: none;
    }
    .navbar-collapse.show {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-left {
        flex-direction: column;
        order: 1;
    }
    .footer-right {
        order: 2;
        position: absolute;
        right: 0;
    }
    .footer-media {
        order: 3;
        margin-left: 0px;
    }
    .display-1 {
        font-size: 120px;
    }
    .display-2 {
        font-size: 80px;
    }
    .display-3 {
        font-size: 48px;
    }
    .h1 {
        font-size: 40px;
    }
    .h2 {
        font-size: 32px;
    }
    .h3 {
        font-size: 28px;
    }
    .h4 {
        font-size: 24px;
    }
    .h5 {
        font-size: 20px;
    }
    .h6 {
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
    }
    .service-item {
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: 24px;
    }
    .display-1 {
        font-size: 80px;
    }
    .display-2 {
        font-size: 48px;
    }
    .display-3 {
        font-size: 40px;
    }
    .h1 {
        font-size: 32px;
    }
    .h2 {
        font-size: 28px;
    }
    .h3 {
        font-size: 24px;
    }
    .h4 {
        font-size: 20px;
    }
    .h5 {
        font-size: 18px;
    }
    .h6 {
        font-size: 16px;
    }
}
